#get vi mode for all binaries called from bash
#http://acg.github.io/2011/05/17/put-everything-in-vi-mode.html
set keymap vi
set editing-mode vi

$if mode=vi
    set keymap vi-insert
    "jk": vi-movement-mode
    "\C-p": "jkk"
$endif

set bind-tty-special-chars off

